<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.AuthUserMapper">

    <select id="getRoles" resultType="com.iris.model.vo.UserRoleVO">

        select roles.id, roles.name, roles.code, code.name as codeName, roles.type, type.name as typeName
        from sys_users sys_user
            join sys_user_in_role uir on sys_user.id = uir.user_id and uir.is_deleted = 0 and sys_user.is_deleted = 0 and sys_user.id = #{userId}
            join sys_roles roles on uir.role_id = roles.id and roles.is_deleted = 0 and roles.is_locked = 0
            left join sys_code code on roles.code = code.value and code.is_deleted = 0
            left join sys_code type on roles.type = type.value and type.is_deleted = 0
    </select>

    <select id="getOrganizationList" resultType="com.iris.model.vo.UserOrganizationVO">

        select org.id, org.code, org.name, org.orgClass, org.orgClassName, org.is_platform, org.belong_to_org, org.is_locked, org.is_deleted,
               org.parent_id, org.parent_code, org.is_charter, org.withdrawal, org.discount, d.defaultDiscount, d.defaultWithdrawal
        from
            (select so.id, so.code, so.name, oei.organization_class orgClass, sc.name orgClassName, oei.is_platform, oei.belong_to_org,
                           so.parent_id, so.parent_code, oei.is_charter, oei.withdrawal, oei.discount, so.is_locked, so.is_deleted

            from sys_organizations so
                                 join organization_extra_info oei on oei.is_deleted = 0 and so.id = oei.organization_id
                                 join member_in_employee_in_user_in_organization mieiuio on mieiuio.user_id = #{userId,jdbcType=VARCHAR} and mieiuio.is_deleted = 0 and mieiuio.organization_id = so.id
                                 left join sys_code sc on sc.is_deleted = 0 and oei.organization_class = sc.value
            ) org,
            (select discount defaultDiscount, (case when is_deleted = 0 then 1 else 0 end) defaultWithdrawal  from withdrawal_default_discount where is_company = 1) d

        where org.is_deleted = 0 and org.is_locked = 0
    </select>

    <select id="organizationCodeIsCorrect" resultType="java.lang.Integer">

        select count(so.id)
        from sys_organizations so
               join organization_extra_info oei on oei.is_platform = 0 and oei.is_deleted = 0 and so.id = oei.organization_id
               join member_in_employee_in_user_in_organization mieiuio on mieiuio.user_id = #{userId,jdbcType=VARCHAR} and mieiuio.is_deleted = 0
        where so.is_deleted = 0 and so.code = #{organizationCode,jdbcType=VARCHAR} and so.is_locked = 0
    </select>

    <select id="isPlatformUser" resultType="java.lang.Integer">

         select count(mieiuio.id)
         from member_in_employee_in_user_in_organization mieiuio
                                join organization_extra_info oei on oei.organization_id = mieiuio.organization_id
                                                                    and oei.is_deleted = 0
                                                                    and oei.is_platform = 0
          where mieiuio.user_id = #{userId,jdbcType=VARCHAR} and mieiuio.is_deleted = 0
    </select>

    <select id="getEmployeeInfo" resultType="com.iris.model.vo.system.EmployeeInfoVO">

        select ei.id, ei.employee_name, ei.employee_code, ei.employee_note_name, ei.employee_class,
                sc.name employeeClassName, ei.avatar
            from employee_info ei
                join member_in_employee_in_user_in_organization mieiuio on mieiuio.employee_id = ei.id
                    and mieiuio.is_deleted = 0 and mieiuio.user_id = #{usersId,jdbcType=VARCHAR}
                left join sys_code sc on sc.value = ei.employee_class and sc.is_deleted = 0
        where ei.is_deleted = 0
    </select>

    <select id="getTopParentId" resultType="java.lang.String">

        select T2.id
        from (select
                      @r as _id,
                      (select @r := parent_id from sys_organizations where id = _id) as 2v2,
                      @l := @l + 1 as lvl
              from
                      (select @r := #{id,jdbcType=VARCHAR},@l :=0) vars,
                      sys_organizations h
              where @r is not null) T1
                     left join sys_organizations T2
                on T1._id = T2.id
        where T2.parent_id is null
    </select>
</mapper>
