<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.AuthUserMapper">

    <select id="getRoles" resultType="com.iris.model.vo.UserRoleVO">

        select roles.id, roles.name, roles.code, code.name as codeName, roles.type, type.name as typeName
        from sys_users sys_user
            join sys_user_in_role uir on sys_user.id = uir.user_id and uir.is_deleted = 0 and sys_user.is_deleted = 0 and sys_user.id = #{userId}
            join sys_roles roles on uir.role_id = roles.id and roles.is_deleted = 0 and roles.is_locked = 0
            left join sys_code code on roles.code = code.value and code.is_deleted = 0
            left join sys_code type on roles.type = type.value and type.is_deleted = 0
    </select>

    <select id="getOrganizationList" resultType="com.iris.model.vo.UserOrganizationVO">

        select organization.id, organization.code, code.name as codeName, organization.parent_id,
                organization.parent_code, parent_code.name as parentCodeName, organization.name
        from sys_users sys_user
            join sys_user_in_organization uio on sys_user.id = uio.user_id and uio.is_deleted = 0 and sys_user.is_deleted = 0 and sys_user.id = #{userId}
            join sys_organizations organization on uio.organization_id = organization.id and organization.is_deleted = 0 and organization.is_locked = 0
            left join sys_code code on organization.code = code.value and code.is_deleted = 0
            left join sys_code parent_code on organization.parent_code = parent_code.value and parent_code.is_deleted = 0
        order by organization.sequence
    </select>

</mapper>
