<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.ISysAppQuestionAnswerLibraryMapper">

    <select id="getList" resultType="com.iris.model.vo.system.SysAppQuestionAnswerLibraryVO">

        select saqal.id, saqal.type, sc.name typeName, saqal.title, saqal.url, saqal.content, saqal.remark,
                saqal.is_deleted, saqal.created_by, saqal.created_time, saqal.modified_by, saqal.modified_time, saqal.sequence
        from sys_app_question_answer_library saqal
            left join sys_code sc on sc.is_deleted = 0 and saqal.type = sc.value

        <where>
                saqal.is_deleted = 0
            <if test="sysAppQuestionAnswerLibraryListDTO.type != null and sysAppQuestionAnswerLibraryListDTO.type != ''">
                and saqal.type = #{sysAppQuestionAnswerLibraryListDTO.type}
            </if>
            <if test="sysAppQuestionAnswerLibraryListDTO.startTime != null and sysAppQuestionAnswerLibraryListDTO.startTime != ''">
                and saqal.created_time &gt;= #{sysAppQuestionAnswerLibraryListDTO.startTime}
            </if>
            <if test="sysAppQuestionAnswerLibraryListDTO.endTime != null and sysAppQuestionAnswerLibraryListDTO.endTime != ''">
                and saqal.created_time &lt;= #{sysAppQuestionAnswerLibraryListDTO.endTime}
            </if>
        </where>
        order by saqal.sequence, saqal.created_time desc
    </select>

    <select id="getDetail" resultType="com.iris.model.vo.system.SysAppQuestionAnswerLibraryVO">

        select saqal.id, saqal.type, sc.name typeName, saqal.title, saqal.url, saqal.content, saqal.remark,
                    saqal.is_deleted, saqal.created_by, saqal.created_time, saqal.modified_by, saqal.modified_time, saqal.sequence
        from sys_app_question_answer_library saqal
                    left join sys_code sc on sc.is_deleted = 0 and saqal.type = sc.value
        where saqal.id = #{id} and saqal.is_deleted = 0
    </select>

</mapper>