<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.ISysIntegralSettingInfoMapper">

    <select id="getList" resultType="com.iris.model.vo.system.SysIntegralSettingInfoVO">

        select isi.id, isi.integral_name, isi.integral_code, isi.integral_score, isi.is_locked,
                isi.is_deleted, isi.created_by, isi.created_time, isi.modified_by, isi.modified_time
        from sys_integral_setting_info isi
        <where>
            isi.is_deleted = 0
            <if test="listDTO.integralName != null and listDTO.integralName != ''">
                and isi.integral_name like concat('%',#{listDTO.integralName,jdbcType=VARCHAR},'%')
            </if>
            <if test="listDTO.integralCode != null and listDTO.integralCode != ''">
                and isi.integral_code like concat('%',#{listDTO.integralCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="listDTO.startTime != null and listDTO.startTime != ''">
                and isi.created_time &gt;= #{listDTO.startTime,jdbcType=VARCHAR}
            </if>
            <if test="listDTO.endTime != null and listDTO.endTime != ''">
                and isi.created_time &lt;= #{listDTO.endTime,jdbcType=VARCHAR}
            </if>
        </where>
        order by isi.created_time desc
    </select>

    <select id="getDetail" resultType="com.iris.model.vo.system.SysIntegralSettingInfoVO">

        select isi.id, isi.integral_name, isi.integral_code, isi.integral_score, isi.is_locked, isi.remark,
               isi.is_deleted, isi.created_by, isi.created_time, isi.modified_by, isi.modified_time
        from sys_integral_setting_info isi
        where isi.is_deleted = 0 and isi.id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>