<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.ISysOrganizationsMapper">


    <resultMap id="SysOrganizationsMapBaseVO" type="com.iris.model.vo.system.SysOrganizationsMapBaseVO">
        <id property="id" column="id" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="is_locked" jdbcType="INTEGER" property="isLocked" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="created_by" jdbcType="TIMESTAMP" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <resultMap id="SysOrganizationsListVO" type="com.iris.model.vo.system.SysOrganizationsVO" extends="SysOrganizationsMapBaseVO">
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
        <collection property="children" column="{sysOrganizationsListDTO.parentId = id}" ofType="com.iris.model.vo.system.Children" select="getList">
        </collection>
    </resultMap>

    <resultMap id="SysOrganizationsVO" type="com.iris.model.vo.system.SysOrganizationsVO" extends="SysOrganizationsMapBaseVO">
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
        <collection property="children" column="{ parentId = id}" ofType="com.iris.model.vo.system.Children" select="getDetail">
        </collection>
    </resultMap>

    <select id="getList" resultMap="SysOrganizationsListVO">

        select so.id, so.parent_id, so.code, so.parent_code, so.name, so.sequence, so.remark, so.is_locked, so.is_deleted,
                so.created_by, so.created_time, so.modified_by, so.modified_time
        from sys_organizations so
        <where>
                so.is_deleted = 0
            <if test="sysOrganizationsListDTO.code != null and sysOrganizationsListDTO.code != ''">
                and so.code = #{sysOrganizationsListDTO.code}
            </if>
            <if test="sysOrganizationsListDTO.name != null and sysOrganizationsListDTO.name != ''">
                and so.name like concat('%',#{sysOrganizationsListDTO.name},'%')
            </if>
            <if test="sysOrganizationsListDTO.startTime != null and sysOrganizationsListDTO.startTime != ''">
                and so.created_time &gt;= #{sysOrganizationsListDTO.startTime}
            </if>
            <if test="sysOrganizationsListDTO.endTime != null and sysOrganizationsListDTO.endTime != ''">
                and so.created_time &lt;= #{sysOrganizationsListDTO.endTime}
            </if>
            <choose>
                <when test="sysOrganizationsListDTO.parentId != null and sysOrganizationsListDTO.parentId != ''">
                    and so.parent_id = #{sysOrganizationsListDTO.parentId}
                </when>
                <otherwise>
                    and (so.parent_id is null or so.parent_id = '')
                </otherwise>
            </choose>
        </where>
        order by so.sequence
    </select>

    <select id="getDetail" resultMap= "SysOrganizationsVO">

        select so.id, so.parent_id, so.code, so.parent_code, so.name, so.sequence, so.remark, so.is_locked, so.is_deleted,
                so.created_by, so.created_time, so.modified_by, so.modified_time
        from sys_organizations so
        where so.is_deleted = 0
        <choose>
            <when test="parentId != null and parentId != ''">
                and so.parent_id = #{parentId}
            </when>
            <otherwise>
                and so.id  = #{id}
            </otherwise>
        </choose>
        order by so.sequence
    </select>
</mapper>