<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.ISysOrganizationsMapper">


    <resultMap id="SysOrganizationsMapBaseVO" type="com.iris.model.vo.system.SysOrganizationsMapBaseVO">
        <id property="id" column="id" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="is_locked" jdbcType="INTEGER" property="isLocked" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>

        <association property="organizationExtraInfoDetailVO" javaType="com.iris.model.vo.organization.OrganizationExtraInfoDetailVO">
            <id column="extraInfo_id" property="id"/>
            <id column="organization_id" property="organizationId"/>
            <result column="organization_name" property="organizationName"/>
            <result column="organization_short_name" property="organizationShortName"/>
            <result column="organization_class" property="organizationClass"/>
            <result column="organizationClassName" property="organizationClassName"/>
            <result column="organization_logo" property="organizationLogo"/>
            <result column="organization_size" property="organizationSize"/>
            <result column="organization_code" property="organizationCode"/>
            <result column="organizationSizeName" property="organizationSizeName"/>
            <result column="legal_person" property="legalPerson"/>
            <result column="legal_person_number" property="legalPersonNumber"/>
            <result column="organization_status" property="organizationStatus"/>
            <result column="organizationStatusName" property="organizationStatusName"/>
            <result column="region" property="region"/>
            <result column="business_scope" property="businessScope"/>
            <result column="is_enterpriseAuth" property="isEnterpriseAuth"/>
            <result column="is_platform" property="isPlatform"/>

            <result column="gender" property="gender"/>
            <result column="genderName" property="genderName"/>
            <result column="customer_phone" property="customerPhone"/>
            <result column="establishment_date" property="establishmentDate"/>
            <result column="longitude" property="longitude"/>
            <result column="latitude" property="latitude"/>
            <result column="address" property="address"/>
            <result column="organization_profile" property="organizationProfile"/>
            <result column="remark" property="remark"/>
            <result column="unified_credit_code" property="unifiedCreditCode"/>
        </association>
    </resultMap>

    <resultMap id="SysOrganizationsListVO" type="com.iris.model.vo.system.SysOrganizationsListVO" extends="SysOrganizationsMapBaseVO">
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>

        <collection property="children" column="{sysOrganizationsListDTO.parentId = id}" ofType="com.iris.model.vo.system.Children" select="getList">
        </collection>
    </resultMap>

    <resultMap id="SysOrganizationsDetailVO" type="com.iris.model.vo.system.SysOrganizationsListVO" extends="SysOrganizationsMapBaseVO">
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>

        <collection property="children" column="{parentId = id}" ofType="com.iris.model.vo.system.Children" select="getDetail">
        </collection>
    </resultMap>

    <select id="getList" resultMap="SysOrganizationsListVO">

        select so.id, so.parent_id, so.code, so.parent_code, so.name, so.sequence, so.remark, so.is_locked, so.is_deleted,
                so.created_by, so.created_time, so.modified_by, so.modified_time,
               oei.id extraInfo_id, oei.organization_id, oei.organization_short_name, oei.organization_class, sc.name organizationClassName,
               oei.organization_logo,  oei.organization_size, sc_size.name organizationSizeName, oei.legal_person, oei.legal_person_number,
               oei.organization_status, sc_status.name organizationStatusName, oei.region, oei.business_scope, oei.is_enterprise_auth, oei.is_platform
        from sys_organizations so
                join organization_extra_info oei on oei.is_deleted = 0 and oei.organization_id = so.id
                left join sys_code sc on sc.value = oei.organization_class and sc.is_deleted = 0
                left join sys_code sc_size on sc_size.value = oei.organization_size and sc_size.is_deleted = 0
                left join sys_code sc_status on sc_status.value = oei.organization_status and sc_status.is_deleted = 0
        <where>
                so.is_deleted = 0
            <if test="sysOrganizationsListDTO.code != null and sysOrganizationsListDTO.code != ''">
                and so.code = #{sysOrganizationsListDTO.code}
            </if>
            <if test="sysOrganizationsListDTO.name != null and sysOrganizationsListDTO.name != ''">
                and so.name like concat('%',#{sysOrganizationsListDTO.name},'%')
            </if>
            <if test="sysOrganizationsListDTO.startTime != null and sysOrganizationsListDTO.startTime != ''">
                and so.created_time &gt;= #{sysOrganizationsListDTO.startTime}
            </if>
            <if test="sysOrganizationsListDTO.endTime != null and sysOrganizationsListDTO.endTime != ''">
                and so.created_time &lt;= #{sysOrganizationsListDTO.endTime}
            </if>
            <if test="sysOrganizationsListDTO.isPlatform != null">
                and oei.is_platform = #{sysOrganizationsListDTO.isPlatform}
            </if>
            <if test="sysOrganizationsListDTO.organizationStatus != null and sysOrganizationsListDTO.organizationStatus != ''">
                and oei.organization_status = #{sysOrganizationsListDTO.organizationStatus}
            </if>
            <if test="sysOrganizationsListDTO.organizationClass != null and sysOrganizationsListDTO.organizationClass != ''">
                and oei.organization_class = #{sysOrganizationsListDTO.organizationClass}
            </if>
            <if test="sysOrganizationsListDTO.organizationSize != null and sysOrganizationsListDTO.organizationSize != ''">
                and oei.organization_size = #{sysOrganizationsListDTO.organizationSize}
            </if>
            <choose>
                <when test="sysOrganizationsListDTO.parentId != null and sysOrganizationsListDTO.parentId != ''">
                    and so.parent_id = #{sysOrganizationsListDTO.parentId}
                </when>
                <otherwise>
                    and (so.parent_id is null or so.parent_id = '')
                    <if test="sysOrganizationsListDTO.organizationId != null and sysOrganizationsListDTO.organizationId != ''">
                        and so.id = #{sysOrganizationsListDTO.organizationId,jdbcType=VARCHAR}
                    </if>
                </otherwise>
            </choose>
        </where>
        order by so.sequence, so.created_time desc
    </select>

    <select id="getDetail" resultMap= "SysOrganizationsDetailVO">

        select so.id, so.parent_id, so.code, so.parent_code, so.name, so.sequence, so.remark, so.is_locked, so.is_deleted,
               so.created_by, so.created_time, so.modified_by, so.modified_time,
               oei.id extraInfo_id, oei.organization_id, oei.organization_short_name, oei.organization_code, oei.organization_class, sc.name organizationClassName,
               oei.organization_logo,  oei.organization_size, sc_size.name organizationSizeName, oei.legal_person, oei.legal_person_number,
               oei.organization_status, sc_status.name organizationStatusName, oei.region, oei.business_scope, oei.is_enterprise_auth, oei.is_platform,
               oei.gender, sc_gender.name genderName, oei.customer_phone, oei.establishment_date, oei.longitude, oei.latitude, oei.address, oei.organization_profile,
               oei.remark, oei.unified_credit_code
        from sys_organizations so
                 join organization_extra_info oei on oei.is_deleted = 0 and oei.organization_id = so.id
                 left join sys_code sc on sc.value = oei.organization_class and sc.is_deleted = 0
                 left join sys_code sc_size on sc_size.value = oei.organization_size and sc_size.is_deleted = 0
                 left join sys_code sc_status on sc_status.value = oei.organization_status and sc_status.is_deleted = 0
                 left join sys_code sc_gender on sc_gender.value = oei.gender and sc_gender.is_deleted = 0

         where so.is_deleted = 0 and so.id = #{id}
        <choose>
            <when test="parentId != null and parentId != ''">
                and so.parent_id = #{parentId}
            </when>
            <otherwise>
                and so.id = #{id}
            </otherwise>
        </choose>
<!--        group by so.id-->
    </select>

    <select id="checkRepeat" resultType="java.lang.Integer">

        select count(so.id)
        from sys_organizations so
                 join organization_extra_info oei on oei.is_deleted = 0 and oei.organization_id = so.id
        where so.is_deleted = 0 and oei.is_deleted = 0 and oei.is_platform = #{isPlatform}
        <choose>
            <when test="parentId != null and parentId != ''">
                and so.parent_id = #{parentId}
            </when>
            <otherwise>
                and (so.parent_id = '' or so.parent_id is null)
            </otherwise>
        </choose>
        and (so.code = #{code} or so.name = #{name})
        <if test="id != null and id != ''">
            and so.id != #{id}
        </if>
    </select>

    <update id="updateExtraStatusByRefId">
        update organization_extra_info set organization_status = #{status} where organization_id = #{id}
    </update>

    <update id="updateIsLockedById">
        update sys_organizations set sys_organizations.is_locked = #{isLocked} where id = #{id}
    </update>

    <select id="getIsDefaultUserByOrgId" resultType="com.iris.model.vo.system.UsersListVO">

        select su.id, su.login_name, su.real_name, su.gender, sc_user_gender.name genderName, su.phone_number,
               su.remark, su.is_locked, su.is_default, su.created_by , su.modified_by, su.modified_time, su.modified_by
        from member_in_employee_in_user_in_organization mieiuio
            join sys_users su on su.is_deleted = 0 and su.is_default = 1 and su.id = mieiuio.user_id
            left join sys_code sc_user_gender on sc_user_gender.is_deleted = 0 and sc_user_gender.value = su.gender
        where mieiuio.organization_id = #{orgId,jdbcType=VARCHAR} and mieiuio.is_deleted = 0
    </select>
</mapper>