<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.ISysPartTimeJobLibraryInfoMapper">

    <sql id="partTimeJobColumn">
        sptjli.id, sptjli.classify_id, sc.name classifyName, sptjli.use_counts, sptjli.content,
        sptjli.sequence, sptjli.is_deleted, sptjli.created_by, sptjli.created_time,
        sptjli.modified_by, sptjli.modified_time
    </sql>

    <select id="getList" resultType="com.iris.model.vo.system.SysPartTimeJobLibraryInfoVO">

        select <include refid="partTimeJobColumn"/>

        from sys_part_time_job_library_info sptjli
            left join sys_code sc on sc.value = sptjli.classify_id and sc.is_deleted = 0
        <where>
            sptjli.is_deleted = 0
            <if test="listDTO.classifyId != null and listDTO.classifyId != ''">
                and sptjli.classify_id = #{listDTO.classifyId,jdbcType=VARCHAR}
            </if>
            <if test="listDTO.startTime != null and listDTO.startTime != ''">
                and sptjli.created_time &gt;= #{listDTO.startTime,jdbcType=VARCHAR}
            </if>
            <if test="listDTO.endTime != null and listDTO.endTime != ''">
                and sptjli.created_time &lt;= #{listDTO.endTime,jdbcType=VARCHAR}
            </if>
        </where>
        order by sptjli.sequence, sptjli.created_time desc
    </select>

    <select id="getDetail" resultType="com.iris.model.vo.system.SysPartTimeJobLibraryInfoVO">

        select sptjli.remark, <include refid="partTimeJobColumn"/>

        from sys_part_time_job_library_info sptjli
            left join sys_code sc on sc.value = sptjli.classify_id and sc.is_deleted = 0

        where sptjli.is_deleted = 0 and sptjli.id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>