<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.ISysRolesMapper">

    <select id="getList" resultType="com.iris.model.vo.system.SysRolesVO">

        select list.id, list.name, list.code, list.type, list.typeName, list.remark, list.is_locked, list.is_deleted,
                list.is_default, list.created_by, list.created_time, list.modified_by, list.modified_time
        from (
            select sr.id, sr.name, sr.code, sr.type, sc.name typeName, sr.remark, sr.is_locked, sr.is_deleted,
                    sr.is_default, sr.created_by, sr.created_time, sr.modified_by, sr.modified_time
            from sys_roles sr
                    left join sys_code sc on sc.is_deleted = 0 and sc.value = sr.type
        ) list
        <where>
            list.is_deleted = 0
            <if test="sysRolesListDTO.name != null and sysRolesListDTO.name != ''">
                and list.name like concat('%',#{sysRolesListDTO.name},'%')
            </if>
            <if test="sysRolesListDTO.code != null and sysRolesListDTO.code != ''">
                and list.code = #{sysRolesListDTO.code}
            </if>
            <if test="sysRolesListDTO.type != null and sysRolesListDTO.type != ''">
                and list.type = #{sysRolesListDTO.type}
            </if>
        </where>
    </select>

    <select id="getDetail" resultType="com.iris.model.vo.system.SysRolesVO">

        select sr.id, sr.name, sr.code, sr.type, sc.name typeName, sr.remark, sr.is_locked, sr.is_deleted,
                sr.is_default, sr.created_by, sr.created_time, sr.modified_by, sr.modified_time
            from sys_roles sr
                    left join sys_code sc on sc.is_deleted = 0 and sc.value = sr.type
        where sr.id = #{id} and sr.is_deleted = 0
</select>

</mapper>