<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iris.mapper.ISysSignInMoodLibraryInfoMapper">

    <sql id="commonColumn">
        ssimli.id, ssimli.library_name, ssimli.library_img, ssimli.library_content, ssimli.is_deleted, ssimli.created_by, ssimli.created_time, ssimli.modified_by,
         ssimli.modified_time
    </sql>

    <sql id="commonJson">
        left join sys_sign_in_mood_library_info_in_classification ssimliic on ssimliic.mood_library_info_id = ssimli.id and ssimliic.is_deleted = 0
        left join sys_sign_in_mood_library_info_classification ssimlic on ssimlic.id = ssimliic.classify_id and ssimlic.is_deleted = 0
    </sql>

    <resultMap type="com.iris.model.vo.system.SysSignInMoodLibraryInfoDetailVO" id="sysSignInMoodLibraryInfoDetailVO">
        <id property="id" column="id" />
        <result column="library_name" property="libraryName"/>
        <result column="library_img" property="libraryImg"/>
        <result column="library_content" property="libraryContent"/>
        <result column="remark" property="remark"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_time" property="modifiedTime"/>

        <collection property="classificationVOList" ofType="com.iris.model.vo.system.SysSignInMoodLibraryInfoClassificationVO">
            <id column="classId" property="id" />
            <result column="code" property="code" />
            <result column="name" property="name"/>
            <result column="sequence" property="sequence"/>
            <result column="classRemark" property="remark"/>
            <result column="classCreatedBy" property="createdBy"/>
            <result column="classCreatedTime" property="createdTime"/>
            <result column="classIdModifiedBy" property="modifiedBy"/>
            <result column="classIdModifiedTime" property="modifiedTime"/>
        </collection>
    </resultMap>

    <select id="getDetail" resultMap="sysSignInMoodLibraryInfoDetailVO">

       select ssimli.remark, <include refid="commonColumn"/>,
                ssimlic.id classId, ssimlic.code, ssimlic.name, ssimlic.sequence, ssimlic.remark classRemark, ssimlic.created_by classCreatedBy, ssimlic.created_time classCreatedTime,
                ssimlic.modified_by classIdModifiedBy, ssimliic.modified_time classIdModifiedTime
       from sys_sign_in_mood_library_info ssimli
                <include refid="commonJson"/>
       where ssimli.id = #{id} and ssimli.is_deleted = 0
    </select>

    <select id="getList" resultType="com.iris.model.vo.system.SysSignInMoodLibraryInfoListVO">

        select list.classifyName, list.classifyIds, list.id, list.library_name, list.library_img, list.library_content, list.is_deleted, list.created_by, list.created_time, list.modified_by,
                list.modified_time
        from(
            select group_concat(ssimlic.name) classifyName, group_concat(ssimlic.id) classifyIds, <include refid="commonColumn"/>
            from sys_sign_in_mood_library_info ssimli
            <include refid="commonJson"/>

            group by ssimli.id
        ) list
        <where>
            list.is_deleted = 0
            <if test="listDTO.libraryName != null and listDTO.libraryName != ''">
                and list.library_name like concat('%',#{listDTO.libraryName,jdbcType=VARCHAR},'%')
            </if>
            <if test="listDTO.classifyId != null and listDTO.classifyId != ''">
                and list.classifyIds like concat('%',#{listDTO.classifyId,jdbcType=VARCHAR},'%')
            </if>
            <if test="listDTO.startTime != null and listDTO.startTime != ''">
                and list.created_time &gt;= #{listDTO.startTime,jdbcType=VARCHAR}
            </if>
            <if test="listDTO.endTime != null and listDTO.endTime != ''">
                and list.created_time &lt;= #{listDTO.endTime,jdbcType=VARCHAR}
            </if>
        </where>
        order by list.created_time desc
    </select>
</mapper>